<h1>Help is at Hand</h1>
<p>As much as we might like our customers to think we perform magic, we don't.  We do, however, know how to apply the tools of our trade.  But if we aspire to leave our customers better able to support themselves in the future, we need to share some of those tools.</p>
<p>Below is a collection of tools, offered without warrentee, but we hope will help in some small way.</p>
<p>Enjoy!</p>

<ul>
	<li><a href=#>Project Risk</a><p> - Estimating in projects is....</p><li>
	<li><a href=#>PairWise Comparisons</a><p> - Finding a balance between competing priorities is challenging: especially if the priorities cannot be quantified.  How do you compare 'staff moral' against 'reputation' or 'community standing'.</p><li>	
</ul>
